<!DOCTYPE html>
<html lang="en">
{% include "components/head.njk" %}

<body>
  {% include "components/menu.njk" %}

  {{ content | safe }}

  {% include "components/footer.njk" %}
  <script>{% include "js/script.js" %}</script>
</body>
</html>
