:root {
  --max-layout-width: 900px;
  --link-color: #007CCE;

  /* pallete adapted from https://www.color-hex.com/color-palette/10221 */
  --vapor-pink: #FFE7F8;
  --vapor-cyan: #D9F7FE;
  --vapor-mint: #DFFFF4;
  --vapor-purple: #EFDDFF;
  --vapor-yellow: #FFFECD;
}


.background-vapor-pink {
  background-color: var(--vapor-pink);
}
.background-vapor-cyan {
  background-color: var(--vapor-cyan);
}
.background-vapor-mint {
  background-color: var(--vapor-mint);
}
.background-vapor-purple {
  background-color: var(--vapor-purple);
}
.background-vapor-yellow {
  background-color: var(--vapor-yellow);
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  padding: 0;
  margin: 0;
  background: #F1F2F7;
  -webkit-text-size-adjust: 100%;
}

a {
  text-decoration: none;
  /*color: var(--link-color);*/
  color: inherit;
  font-weight: bold;
}

a:visited {
  /*color: var(--link-color);*/
  color: #1F4A68;
}

a:hover {
  color: var(--link-color);
}

a:active {
  color: lightgray;
}

a.minimal {
  color: inherit;
}

a.minimal:hover {
  color: var(--link-color);
}

a.bordered {
  display: inline-block;
  color: #000;
  border: 3px solid #000;
  text-decoration: none;
  padding: 0.2rem 0.8rem;
  box-shadow: 5px 5px 0px #000;
  margin: 0.8rem 0.5rem 0 0;
}

a.bordered:hover {
  background: #fff;
}

h1, h2 {
}

h1 {
  font-size: 2.5em;
  line-height: 1.2em;
  font-weight: normal;
}

h2 {
  font-size: 1.7em;
  line-height: 1.2em;
  font-weight: 700;
}

h3 {
  font-size: 1.2em;
  font-weight: 700;
}

ul, ol {
  padding: 0 1rem 1.2rem;
}

ul {
  list-style: square outside none;
}

article {
  line-height: 26px;
}

#container {
  max-width: var(--max-layout-width);
  margin: auto;
  padding: 1em;
}

.image-width-100 img {
  width: 100%;
}

.centered {
  text-align: center;
}

.right {
  text-align: right;
}

.bold {
  font-weight: 600;
}

.flex-1 {
  flex: 1;
}

.video-raw-wrapper {
  width: 100%;
}

.video-raw {
  width: 100%;
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  /*padding-top: 25px;*/
  height: 0;
}

/* YouTube videos */
.video-wrapper iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}

.main-menu {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 2em;
  padding: 0;
}

.main-menu > * {
  margin-right: 1.2em;
}

.main-menu > *:last-child {
  margin-right: 0;
}

.text-decoration-none {
  text-decoration: none;
}

.zero-margin-padding {
  margin: 0;
  padding: 0;
}

.list-style-none {
  list-style: none;
}

/* works */
#works {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 1fr;
}

.work-description {
  padding: 0 0.5rem;
}

.work-description h3 {
  margin: 0;
}

#works img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.interests {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  grid-gap: 0.5rem;
}

.project-summary {
  display: flex;
  flex-wrap: wrap;
}

.project-summary > * {
  flex: 1 1 150px;
}

/* Home */
.round-avatar {
  width: 8em;
  height: 8em;
  border-radius: 4em;
  object-fit: cover;
}

/* three.js */
canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.margin-top-2 {
  margin-top: 2em;
}

.menu-burger {
  display: none;
}

#menuToggle
{
  display: block;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #000000;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

/*
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  padding: 50px;
  padding-top: 125px;
  background: var(--vapor-cyan);
  list-style-type: none;
  -webkit-font-smoothing: antialiased;/* to stop flickering of text in safari */
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul{
  transform: none;
}


/* media */
@media (max-width: 760px) {
  h1 {
    font-size: 1.8em;
    margin: 0.4em 0;
  }
  h2 {
    font-size: 1.3em;
    line-height: 1.2em;
    font-weight: 700;
  }

  h3 {
    font-size: 1.1em;
  }
}

/* Burger menu*/
@media (max-width: 540px) {
  .menu-secondary {
    display: none;
  }

  .menu-burger {
    display: block;
  }
}
