<!--
Derived from by Erik Terwan's CodePen:
https://codepen.io/erikterwan/pen/EVzeRP

Also see Ibn Al-Khwarizmi's CodePen:
https://codepen.io/ibnalkhwarizmi/pen/EremLG
-->
<nav role="navigation">
  <div id="menuToggle">
    <!--
    A fake / hidden checkbox used as click reciever,
    so you can use the :checked selector on it.
    -->
    <input type="checkbox" />

    <!--
    Spans for hamburger.
    -->
    <span></span>
    <span></span>
    <span></span>

    <!--
    Too bad the menu has to be inside of the button,
    but, hey, it's pure CSS magic.
    -->
    <ul id="menu" class="centered">
      <h1>Hello!</h1>

      <li><a class="bordered background-vapor-yellow" href="/">Casey Yee</a></li>
      {% for nav in menu %}
        <li><a class="bordered" href="{{ nav.link }}">{{ nav.name }}</a></li>
      {% endfor %}

      <li>
        <a class="bordered" href="https://github.com/caseyyee/resume/blob/master/README.md">resume</a>
      </li>
      <li>
        <br/>
        <p><a href="mailto:caseyyee.ca@gmail.com">Don’t be shy 👋&nbsp; Say Hi!</a></p>
      </li>
      <li>
        <br/>
        {% include "components/social.njk" %}
      </li>
    </ul>
  </div>
</nav>