<!--
Derived from by Erik Terwan
https://codepen.io/erikterwan/pen/EVzeRP

also see:
https://codepen.io/ibnalkhwarizmi/pen/EremLG
-->
<nav role="navigation">
  <div id="menuToggle">
    <!--
    A fake / hidden checkbox used as click reciever,
    so you can use the :checked selector on it.
    -->
    <input type="checkbox" />

    <!--
    Spans for hamburger.
    -->
    <span></span>
    <span></span>
    <span></span>

    <!--
    Too bad the menu has to be inside of the button
    but hey, it's pure CSS magic.
    -->
    <ul id="menu" class="centered">
      <a class="minimal bold" href="/"><li>Casey Yee</li></a>
      {% for nav in menu %}
        <a class="minimal" href="{{ nav.link }}"><li>{{ nav.name }}</li></a>
      {% endfor %}
      <a class="minimal" href="mailto:caseyyee.ca@gmail.com"><li>👋 Say Hi!</li></a>
    </ul>
  </div>
</nav>