<footer class="margin-top-2">
  &copy; <strong>Casey Yee</strong> &nbsp; &nbsp;
  {% include "components/social.njk" %}
  <br>
  Handcrafted from <a href="https://github.com/caseyyee/caseyyee.com" title="View source code of this site on GitHub">open source</a>
</footer>
