<footer class="mt-2 mb-2 break-on-span">
  <div class="container">
   <div class="footer-container align-center">
      <h4>Now that you’re here...</h4>
      <h2>
        <a href="http://caseyyee.github.io/resume/"><span class="underline blue-green">See my full resume</span></a>
      </h2>
      <div>
        {% include "components/social.njk" %}<br/>
        &copy; Casey Yee
      </div>
    </div>
  </div>
</footer>
