<footer class="margin-top-2 break-on-span">
  <h3>
    <span>… Now that you’re here</span>
    <span>🤘&nbsp; <a href="https://github.com/caseyyee/resume/blob/master/README.md">See my full resume</a></span>
  </h3>

  &copy; <strong>Casey Yee</strong> &nbsp; &nbsp;
  {% include "components/social.njk" %}
  <br>
  Handcrafted from <a href="https://github.com/caseyyee/caseyyee.com" title="View source code of this site on GitHub">open source</a>
</footer>
