<ul class="main-menu">
  <li class="list-style-none menu-burger">{% include "components/burger-menu.njk" %}</li>
  <li class="list-style-none bold"><a href="/" class="minimal">Casey Yee</a></li>
  <li class="list-style-none menu-secondary"><a href="/work" class="minimal">Work</a></li>
  <li class="list-style-none menu-secondary"><a href="/posts" class="minimal">Mentions</a></li>
  <li class="list-style-none menu-secondary"><a href="/interests" class="minimal">Interests</a></li>
  <li class="list-style-none flex-1 right">👋 <a class="minimal" href="mailto:caseyyee.ca@gmail.com">Say Hi!</a></li>
</ul>