<ul class="zero-margin-padding" id="works">
{% for work in works %}
  <li class="list-style-none">
    <a href="{{ work.link }}"><img src="{{ work.image }}"></a>
    <div class="work-description">
      <h3><a class="bordered" href="{{ work.link }}">{{ work.name }}</a></h3>
      <p>{{ work.description }}</p>
    </div>
  </li>
{% endfor %}
</ul>
