<ul class="works p-0 m-0">
{% for work in works %}
  <li class="list-style-none">
    <div>
      <a href="{{ work.link }}"><img src="{{ work.image }}"></a>
      <div class="work-description align-center">
        <h3>{{ work.name }}</h3>
        <p>{{ work.description }}</p>
        <p>
          {% for tech in work.tech %}
          <span class="work-tech">{{ tech }}</span>
          {% endfor %}
        </p>
      </div>
    </div>
  </li>
{% endfor %}
</ul>
