---
layout: base.njk
title: Casey Yee
---


<!-- <article>
  <h1>Head full of ideas.</h1>
  <h2>Rediscovering my creative voice.</h2>
</article> -->

<!--
Creative designer and code.
Experience in education, digital marketing, software development, creative direction, technology research.
Deep design and technology understanding.

-->

<section id="intro">
  <img class="round-avatar" src="{{ "/img/casey.jpg" | url }}">

  <h1>Hello! I'm Casey, a designer that writes code in Vancouver BC. I want to make the things that are in my head.</h1>

  <h1>I want You as excited as I am about the future and what's possible as I am.</h1>

  <p>🤘 <a href="/resume">See full resume</a></p>

  <p><a href="/about-casey">Learn more about me</a></p>
</section>

<section id="brands">
  <h2>Along the way, i've worked with some pretty great people and brands</h2>

  <p>EFF, Nike, McDonalds, Blast Radius, UBC<br>

  VFS, Mozilla, Samsung, Google.<br>

  AWWARDS, Telus StoryHive, NFB Canada.

  BC Hydro
  </p>

  <p><a href="/clients">👀 See em' all</a></p>
</section>

<script src="/js/three.min.js"></script>
<script>
  // var scene = new THREE.Scene();
  // var camera = new THREE.PerspectiveCamera(50, window.innerWidth / window.innerHeight, 0.1, 1000);
  // camera.position.z = 15;
  // //camera.rotation.x = Math.PI/8;

  // var renderer = new THREE.WebGLRenderer();
  // renderer.setClearColor('#DCDDE1')
  // renderer.setSize(window.innerWidth, window.innerHeight);
  // document.body.appendChild(renderer.domElement);

  // window.addEventListener('resize', onWindowResize, false);

  // // scene bounds
  // const sceneBounds = new THREE.Vector3(50, 100, 100);

  // const between = (min, max) => {
  //   return Math.random() * (max - min + 1) + min;
  // }

  // // boxes
  // var geometry = new THREE.BoxGeometry(1, 10, 1);
  // // var geometry = new THREE.ConeGeometry( 3, 6, 32 );
  // // var geometry = new THREE.DodecahedronBufferGeometry(3);

  // var material = new THREE.MeshLambertMaterial({color: '#DCDDE1'});


  
  // //var material = new THREE.MeshBasicMaterial({color: '#4DB1D4'});
  // // const material = new THREE.ShaderMaterial({
  // //     uniforms: {
  // //       color1: {
  // //         value: new THREE.Color('#DCDDE1')
  // //       },
  // //       color2: {
  // //         value: new THREE.Color('#8D99A8')
  // //       }
  // //     },
  // //     vertexShader: `
  // //       varying vec2 vUv;
  // //       void main() {
  // //         vUv = uv;
  // //         gl_Position = projectionMatrix * modelViewMatrix * vec4(position,1.0);
  // //       }
  // //     `,
  // //     fragmentShader: `
  // //       uniform vec3 color1;
  // //       uniform vec3 color2;
  // //       varying vec2 vUv;
  // //       void main() {
  // //         gl_FragColor = vec4(mix(color1, color2, vUv.y), 1.0);
  // //       }
  // //     `,
  // //     side: THREE.BackSide,
  // //     wireframe: false
  // //   });

  // const meshes = [];

  // for (var i = 0; i < 100; i++) {
  //   const cube = new THREE.Mesh(geometry, material);
  //   cube.position.set(between(-sceneBounds.x, sceneBounds.x),
  //     between(-sceneBounds.y, sceneBounds.y), 0);
  //     //between(-sceneBounds.z, sceneBounds.z));
  //   scene.add(cube);
  //   meshes.push(cube);
  // }

  // scene.add(new THREE.AmbientLight('#cfcfcf'));
  // const light = new THREE.DirectionalLight('#fff', 1);
  // light.position.set(-100, 100, 40);
  // scene.add(light);

  // // sky
  // // const gradientMat = new THREE.ShaderMaterial({
  // //     uniforms: {
  // //       color1: {
  // //         value: new THREE.Color('#4DB1D4')
  // //       },
  // //       color2: {
  // //         value: new THREE.Color('#4DB1D4')
  // //       }
  // //     },
  // //     vertexShader: `
  // //       varying vec2 vUv;
  // //       void main() {
  // //         vUv = uv;
  // //         gl_Position = projectionMatrix * modelViewMatrix * vec4(position,1.0);
  // //       }
  // //     `,
  // //     fragmentShader: `
  // //       uniform vec3 color1;
  // //       uniform vec3 color2;
  // //       varying vec2 vUv;
  // //       void main() {
  // //         gl_FragColor = vec4(mix(color1, color2, vUv.y), 1.0);
  // //       }
  // //     `,
  // //     side: THREE.BackSide,
  // //     wireframe: false
  // //   });
  // // scene.add(new THREE.Mesh(
  // //   new THREE.SphereBufferGeometry(800, 32, 32),
  // //   gradientMat));

  // animate();

  // function animate() {
  //   requestAnimationFrame(animate);
  //   meshes.forEach((mesh) => {
  //     mesh.position.y += 0.05;
  //     if (mesh.position.y > sceneBounds.y) {
  //       mesh.position.y = -sceneBounds.y;
  //     }

  //     // mesh.rotation.z += 0.001;
  //     // mesh.rotation.x += 0.001;
  //     // mesh.rotation.x += 0.001;
  //   });
  //   // cube.rotation.x += 0.005;
  //   // cube.rotation.y += 0.01;
  //   // camera.rotation.y += 0.001;
  //   renderer.render(scene, camera);
  // }

  // function onWindowResize() {
  //   camera.aspect = window.innerWidth / window.innerHeight;
  //   camera.updateProjectionMatrix();
  //   renderer.setSize(window.innerWidth, window.innerHeight);
  // }
</script>

<!-- <h1>I'm Casey Yee, a designer that writes code for <a href="www.mozilla.org">Mozilla</a> based out of Vancouver BC, working on AR, VR and browser tech to make interesting things.</h1>
</div>

<p>I like to learn fast, explore possibilities and use my intuitive sense in product, user experience design and deep understanding of technology to create stuff that people get excited about!</p> -->




<!--
# Ask me about
ANSI
FILE_ID.DIZ
BBS
MCI
Amiga
Brunei
Haida Gwai

# My style
Learn Fast
Break stuff
Stitch it together
Sell it
Apologize

# Professional Activities
Product design
User Experience Design
Creative direction
Productivity
Coding
Open Source

# Technology interests
Web
AR, VR, Blockchain, AI,
Javascript, three.js, WebGL, Unity,
Vintage Computing

# Tools
Photoshop, Illustrator, Sketch, Figma, Blender

# Persopnal endeavors
Triathlon
Bikes
Coffee
Photography
Woodwork
Plants
Science
Space
Art
Transportation
Food

# Mentions
[Wired](https://www.wired.com/2016/09/time-release-infinite-monkeys-vr/)
[UX and Growth Podcast](https://austinknight.com/podcast/webvr-casey-yee-mozilla/)
[Killscreen](https://killscreen.com/versions/future-internet-coming-vr/)


# Bookcase


# Find me
Sketchfab
Instagram
Strava
Pinterest
Facebook
Twitter
Github
SoundCloud
Flickr
LinkedIn
16co
Facebook

# Causes and organizations I support
EFF
Creative Commons
archive.org
tor -->