<footer>
  &copy; <strong>Casey Yee</strong>, 2019, <a href="https://twitter.com/whoyee">Twitter</a>,
  <a href="http://github.com/caseyyee">Github</a>,
  <a href="https://www.linkedin.com/in/whoyee/">LinkedIn</a>,
  <a href="https://www.instagram.com/caseyyee/">Instagram</a>
  <br/>
  Site built with <a href="https://www.11ty.io/">Eleventy</a>
</footer>