<footer>
  &copy; Casey Yee, 2019
  <br/>

  ➡
  <a href="https://twitter.com/whoyee">Twitter</a>,
  <a href="http://github.com/caseyyee">Github</a>,
  <a href="https://www.linkedin.com/in/whoyee/">LinkedIn</a>,
  <a href="https://www.instagram.com/caseyyee/">Instagram</a>
  <br/>
  Located somewhere in the Suburbs of Vancouver, BC, 🇨🇦
  <br/>
  Made with <a href="https://www.11ty.io/">Eleventy</a>
</footer>