<ul class="menu">
  <li class="menu-item"><a href="/">Casey Yee</a></li>
  <li class="menu-item"><a href="/work">Work</a></li>
  <li class="menu-item"><a href="/interests">Interests</a></li>
  <li class="menu-item"><a href="/posts">Mentions</a></li>
  <li class="menu-item">Contact</li>
</ul>