<ul class="zero-margin-padding">
{% for work in works %}
  <li class="list-style-none border-bottom centered">
    <h1><a class="text-decoration-none" href="{{ work.link }}">{{ work.name }}</a></h1>
    <p>{{ work.description }}</p>
  </li>
{% endfor %}
</ul>
