---
layout: base.njk
title: Casey Yee
---

<section id="intro">
  <p class="centered"><img class="round-avatar" src="{{ "/img/casey.jpg" | url }}"></p>

  <h1><strong>Hello! I'm Casey.</strong> I solve problems with Design & Code. I also love a good product.</h1>

  <h1>On the lookout for creative partners that are as excited about the future and what's possible as I am.</h1>

  <h3>🤘 <a href="https://github.com/caseyyee/resume">See full resume</a></h3>
</section>

<section id="brands">
  <h2>Along the way, I've worked with some pretty great people and brands</h2>

  <p>Mozilla, EFF, W3C, Google, Samsung, Oculus 
  Nike Air Jordan, Nordstroms, McDonalds 2010 Olympics 
  Telus Story Hive, NFB Interactive, Concord Pacific 
  UBC, VFS, BC Hydro, Blast Radius, Cossette</p>
</section>

<section id="projects">
  <h3>👀 <a href="/work">Checkout my projects page</a></h3>
</section>

<script type="text/javascript">{% include "js/script.js" %}</script>