@import "tailwindcss";

@font-face {
  font-family: 'Nunito';
  src: url('/fonts/Nunito-VariableFont_wght.ttf') format('truetype');
  font-display: block;
  font-weight: 100 900;
}

body,
html,
#root {
  width: 100%;
  height: 100%;
}
