---
layout: base.njk
title: Casey Yee
description: 🤘 Click it! … if you want learn a little more about me 👀.
---
<p class="centered"><img class="round-avatar" src="{{ "/img/casey.jpg" | url }}" alt="Hello! I’m Casey Yee."></p>

<h1>Hello! I'm Casey.<br>
I solve problems with Design & Code.<br>
I also love a good product.</h1>

<h2>On the lookout for creative partners who are as excited as I am about the future and what’s possible.</h2>

{% include "components/works.njk" %}

<h2>Fun smaller projects, experiments &amp; explorations</h2>

{% include "components/experiments.njk" %}

<!-- <script type="text/javascript">{% include "js/webgl.js" %}</script> -->
