---
layout: base.njk
title: Casey Yee
---

<!-- ## The career path that matters to me

* Excercising talent, leveraging my skills and creativity.
* Adventure
* Become knowledgeable and skilled doing it.
* Adventure
* Resource
* Money
* Human connection
* Design is a tool that influences the world.
* Opportunies in sustainability
* Developing skills and knowledge to actualize company values.
* Purpose driven change.
 -->

<h2>I've been practicing.</h2>

<h3>Along the way, i've worked with some pretty great people, brands and organizations.</h3>

<p>Mozilla, EFF, W3C, Google, Samsung, Oculus 
Nike Air Jordan, Nordstroms, McDonalds, Johnson & Johnson 
Telus Story Hive, NFB Interactive, Concord Pacific 
UBC, VFS, BC Hydro, Blast Radius, Cossette</p>

<p><em>Here's a sampling of work:</em></p>

{% include "components/works.njk" %}

<h3>Fun smaller projects and experiments</h3>

{% include "components/experiments.njk" %}

